@import '../../styles/variables.scss';

.page-login {
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .logo-container {
        max-width: 184px;
        margin: 0 auto;
        margin-bottom: 64px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .generic-container {
        .disabled{
            background-color: $onBackground !important;
            cursor: default !important;
        }
        
        .momento {
            background-color: $primary;
            font-family: forte;
        }
        
        .discord {
            background-color: $discord-primary;
            font-family: ggsans;
        }
        
        .login-button {
            height: 64px;
            padding: 0px 16px;
            border-radius: 8px;
            display: flex;
            margin-bottom: 8px;
            align-items: center;
            cursor: pointer;

            &__login-logo-container {
                width: 40px;

                img {
                    width: 100%;
                }
            }

            &__label {
                margin-left: 16px;
                font-size: 24px;
                color: $onSecondary;
            }
        }
    }

    &__trademark {
        position: absolute;
        bottom: 0;
        margin-bottom: 64px;
        font-family: forte;
        color: $onBackground;
    }
}

@media screen and (max-width: 768px) {
    .page-login {
        .generic-container {
            .login-button {
                padding: 0;
                width: 64px;
                justify-content: center;
                &__label {
                    display: none;
                }
            }
        }
    }
}