@import '../../../styles/variables.scss';

.bottombar {
    background-color: $background;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px $onBackgroundAlt;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1024px;
        height: 56px;
        margin: 0 auto;

        .bottombar__button {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $background;
            cursor: pointer;
            
            &:nth-child(2) {
                border-right: solid 1px $onBackgroundAlt;
                border-left: solid 1px $onBackgroundAlt;
            }
            
            &:hover svg>path {
                transition: 0.1s;
                fill: $primary;
            }
        }

        .bottombar-icon {

        }
    }
}