$discord-primary: #7289da; 

$primary: #DD247B;
$onPrimary: #000000;
$secondary: #FFFFFF;
$onSecondary: #000000;
$background: #121212;
$onBackground: #B3B3B3;
$onBackgroundAlt: #0b0b0b;

$primary: #DD247B;
$onPrimary: #000000;
$secondary: #333333;
$onSecondary: #FFFFFF;
$background: #FFFFFF;
$onBackground: #B3B3B3;
$onBackgroundAlt: #eaeaea;

