@import "../../../styles/variables.scss";

.post-container {
    display: flex;
    flex-direction: column;
    width: 816px;
    padding: 16px 16px 0 16px;
    border: solid 1px $onBackgroundAlt;
    margin-bottom: 24px;

    .post-header {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        &__profile-picture {
            overflow: hidden;
            width: 56px;
            height: 56px;
            border-radius: 100%;
            margin-right: 8px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .post-user-info {
            color: $secondary;

            &__user-name {
                font-size: 16px;
                font-weight: 600;

            }

            &__username {
                color: $onBackground;
                font-size: 16px;
                font-style: italic;
            }
        }
    }

    .post-body {
        cursor: pointer;
        display: flex;
        overflow: hidden;

        &__post-img {
            width: 100%;

            img {
                width: 100%;
                display: flex;
            }

            position: relative;

            .post-img-informations {
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #000;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                transition: 0.4s;

                &__stats {
                    transition: 0.4s;
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin: 8px;

                    span {
                        margin-top: 4px;
                    }
                }
            }


            &:hover {
                .post-img-informations {
                    opacity: 0.8;
                }
            }
        }

    }

    .post-footer {
        display: flex;
        align-items: center;
        justify-content: center;

        .heart {
            width: 40px;
            margin: 24px;

            g {
                fill: $secondary;
            }
        }
    }



}