@import "../../../styles/variables.scss";

.post-container {
    display: flex;
    flex-direction: column;
    width: 816px;
    padding: 16px 16px 0 16px;
    border: solid 1px $onBackgroundAlt;
    margin-bottom: 24px;

    .post-header {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        &__profile-picture {
            overflow: hidden;
            width: 56px;
            height: 56px;
            border-radius: 100%;
            margin-right: 8px;
            
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .post-user-info {
            color: $secondary;

            &__user-name {
                font-size: 16px;
                font-weight: 600;

            }

            &__username {
                color: $onBackground;
                font-size: 16px;
                font-style: italic;
            }
        }
    }

    .post-body {
        cursor: pointer;
        display: flex;
        overflow: hidden;

        &__post-img {
            width: 100%;
            img {
                width: 100%;
                display: flex;    
            }
        }

    }

    .post-footer {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            padding: 16px;
        }
    }
}