@import '../../styles/variables.scss';

.page-user-select {
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;

    &__welcome-label {
        padding-top: 200px;
        font-size: 48px;
        color: $onBackground;
    }

    &__select-label {
        font-size: 32px;
        margin-top: 8px;
        color: $onBackground;
    }

    &__logout-label {
        color: $onBackground;
        font-size: 24px;
        font-style: italic;
    }
    
    .select-profile-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        margin-top: 52px;
        margin-bottom: 80px;
    }
}